.flexContainer {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background: linen;
    height: 50px;
    padding: 10px;
}

.flexGrowInp {
    flex-grow: 1;
}

.btn {
    width: 200px;
}
